.jumbotron {
  margin-top: 25px;
  background-color: #7a0707;
  color: black;
}
.navbar{
}
.breadcrumb {
  margin-top: 90px;
}
footer {
  padding: 10px 0px 10px 0px;
  background-color: #7a0707;
  margin: 10px 0 10px 0;
  font-family: 'Rancho';
  color: white;
}

.card-cocina {
  flex: 1 200px;
  max-width: 200px;
}
.btn-consulta {
  width: 100%;
  border-radius: 0px;
}
.btn-collapse {
  width: 170px;
  border-radius: 0px;
  margin: 20px 5px 10px 5px;
}
.footer-adress-icon {
  padding-right: 10px;
  color: black;
}
.opciones-card {
  font-family: 'Bree Serif';
  text-align: center;
}
.footer-social-icon {
  color: black;
}
